.hero{
height:85vh;
background: linear-gradient(135deg, #0b3d3b 0%, #145c53 50%, #d4af37 100%);
color:white;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:58px;
margin-bottom:10px;
font-weight:700;
}

.hero p{
font-size:22px;
margin-bottom:25px;
}

.btn{
display:inline-block;
background:#d4af37;
color:#111;
padding:14px 24px;
border-radius:8px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.btn:hover{
transform:translateY(-2px);
}
